.main-container {
  height: fit-content;
  min-height: 100vh;
  width: 62em;
  font-family: var(--ff-main);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item > h3 {
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}
.options {
  display: flex;
  gap: 0.4em;
}
.result {
  width: 100%;
  padding: 2em;
  text-align: center;
  font-family: var(--ff-primary);
  color: #040918;
}
.btn {
  border-radius: 2em;
  padding: 0.5em 1em;
  outline: 2px solid transparent;
  border: 1px solid var(--Neutral-300);
  background: var(--Neutral-0);
  color: var(--Neutral-900);
  font-family: var(--ff-secondary);
}
.btn:not(.actif, .reset):hover {
  cursor: pointer;
  background: var(--Neutral-100);
}
.actif {
  background: var(--Red-700);
  color: var(--Neutral-0);
  border: 2px solid transparent;
  outline: 2px solid transparent;
}
.actif:hover {
  background: var(--Red-500);
  cursor: pointer;
}
.btn:focus-visible,
.btn:active {
  border: 2px solid var(--Neutral-200);
  outline: 2px solid var(--Red-400);
}
.actif:focus-visible,
.actif:active {
  border: 2px solid var(--Neutral-0);
  outline: 2px solid var(--Red-400);
}
.reset {
  outline: 2px solid transparent;
}

.reset:focus-visible {
  border: 2px solid var(--Neutral-0);
  background: var(--Neutral-100);
  outline: 2px solid var(--Red-400);
}
.dark .result {
  color: #ebf2fc;
}
.dark .btn {
  border: 2px solid var(--Neutral-600);
  background: var(--Neutral-700);
  color: var(--Neutral-0);
  outline: 2px solid transparent;
}
.dark .btn:hover {
  background: var(--Neutral-600);
}

.dark .actif:hover {
  background: var(--Red-500);
}

.dark .actif {
  background: var(--Red-400);
  color: var(--Neutral-900);
  border: 2px solid transparent;
}

.dark .btn:focus-visible,
.dark .btn:active {
  border: 2px solid var(--Neutral-900);
  outline: 2px solid var(--Red-400);
}
@media screen and (max-width: 27.125) {
  .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .item > h3 {
    font-size: 2em;
  }
}
