.card {
  background: var(--Neutral-0);
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-width: 25em;
  max-width: 25em;
  border-radius: var(--br-out);
  border: 1px solid var(--Neutral-200);
  box-shadow: 1px 1px 1px var(--Neutral-200);
  padding: 1em;
}

.top {
  display: flex;
  gap: 1em;
  align-items: baseline;
}
.top > img {
  align-self: self-start;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.details .name {
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}
.details small {
  color: var(--Neutral-600);
  font-weight: var(--fw-500);
}
.checkCont {
  background: var(--Neutral-300);
  border-radius: 2em;
  display: flex;
  align-items: center;
  width: 2.5em;
  height: 1.5em;
  padding: 2px;
  position: relative;
}
.checkCont > span {
  background: var(--Neutral-0);
  padding: 10px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 2.5px;
  transform: translateY(-50%);
}
.on {
  background: var(--Red-700);
}
.on > span {
  right: 2.5px;
}
.checkCont > .state {
  /* visibility: hidden; */
}
.dark .details small {
  color: var(--Neutral-300);
}
.dark .card {
  background: var(--Neutral-700);
  border: 1px solid var(--Neutral-600);
  box-shadow: unset;
}
