.card {
  background: var(--Neutral-0);
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: var(--br-out);
  border: 2px solid var(--Neutral-200);
  box-shadow: 1px 1px 1px var(--Neutral-200);
  padding: 1em;
  justify-content: space-between;
}

.top {
  display: flex;
  gap: 1em;
}
.top > img {
  align-self: self-start;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.details .name {
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}
.details small {
  color: var(--Neutral-600);
  font-weight: var(--fw-500);
}
.reset {
  border-width: 2px;
}
.reset:hover {
  background: var(--Red-700);
  color: var(--Neutral-0);
  border: 2px solid var(--Red-700);
  cursor: pointer;
}
.checkCont {
  background: var(--Neutral-300);
  border-radius: 2em;
  display: flex;
  align-items: center;
  width: 2.5em;
  height: 1.4em;
  padding: 2px;
  position: relative;
  outline: 2px solid transparent;
  border: 2px solid transparent;
}
.checkCont:hover {
  cursor: pointer;
}

.checkCont > span {
  background: var(--Neutral-0);
  padding: 8px;
  border-radius: 100%;
  position: absolute;
  top: 50%;

  align-self: center;
  justify-self: center;
  transform: translateY(-50%);
}
.on {
  background: var(--Red-700);
}
.on:hover {
  background: var(--Red-500);
}
.on > span {
  right: 2.5px;
}
.checkCont > .state {
  visibility: hidden;
}
.checkCont:focus-visible {
  outline: 2px solid var(--Red-400);
  border: 2px solid var(--Neutral-0);
}
.dark .reset {
  border-width: 2px;
  background: var(--Neutral-800);
}
.dark .reset:hover {
  background: var(--Red-500);
  color: var(--Neutral-900);
  border: 2px solid var(--Red-400);
}

.dark .details small {
  color: var(--Neutral-300);
}
.dark .card {
  background: var(--Neutral-800);
  border: 2px solid var(--Neutral-600);
  box-shadow: unset;
}
.dark .checkCont {
  background: var(--Neutral-600);
}

.dark .on {
  background: var(--Red-400);
}
.dark .on:hover {
  background: var(--Red-500);
}

.dark .checkCont:focus-visible {
  outline: 2px solid var(--Red-400);
  border: 2px solid var(--Neutral-700);
}

@media screen and (max-width: 66.94em) {
  .card {
    /* width: clamp(20em, 40em - 1em, 30em); */
    /* background: #000; */
  }
}
