.header {
  display: flex;
  justify-content: space-between;
  background: var(--Neutral-0);
  padding: 0.2em 0.7em;
  border-radius: var(--br-out);
  align-items: center;
  width: 100%;
}

.switch-btn {
  background: var(--Neutral-100);
  padding: 0.7em;
  border-radius: var(--br-in);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  outline: 2px solid transparent;
}
.switch-btn:hover {
  cursor: pointer;
  background: var(--Neutral-300);
}
.switch-btn:focus-visible,
.switch-btn:active {
  border: 2px solid var(--Neutral-0);
  outline: 2px solid var(--Red-400);
}

.dark .header {
  background: var(--Neutral-800);
}
.dark .switch-btn {
  background: var(--Neutral-700);
}
.dark .switch-btn:hover {
  background: var(--Neutral-600);
}
.dark .switch-btn:focus-visible,
.dark .switch-btn:active {
  border: 2px solid var(--Neutral-900);
  outline: 2px solid var(--Red-400);
  background: var(--Neutral-600);
}

.dark .blue-part {
  fill: var(--Neutral-0);
}
